<div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="well well-md">
            <h1>Edit an Item</h1>
       
                <%= render partial: 'items/form' %>

        </div>
    </div>
<div class="col-md-4"></div>