<h1>All the Current Items to Buy</h1>

    <% @items.each do |g| %>
        <ul>
            <%= link_to item_path g do %>
                <li><strong>Name: </strong><%= g.name %></li>
                <% end %>
                <li><strong>Quantity: </strong><%= g.quantity %></li>
                <li><strong>Description: </strong><%= g.description %></li>
                <hr><br><br>
        </ul>
    <% end %>

